/* font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} 

img{
    max-width: 100%;
}
body{

    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.25rem;
}

.container{
    background-color: var(--White);
    border-radius: 0.550rem;
    padding: 1.25rem;
}

.container img{
    border-radius: 0.525rem;
    margin-bottom: 1rem;
}
.container h2{
    color: var(--Dark-blue);
    text-align: center;
    margin-bottom: 1.25rem;
    
}

.container p{
    text-align: center;
    color: var(--Light-gray);
}